<p id="notice"><%= notice %></p>

<p>
  <strong>Check in:</strong>
  <%= @book.check_in %>
</p>

<p>
  <strong>Check out:</strong>
  <%= @book.check_out %>
</p>

<p>
  <strong>Adults:</strong>
  <%= @book.adults %>
</p>

<p>
  <strong>Kids:</strong>
  <%= @book.kids %>
</p>

<p>
  <strong>Hotel:</strong>
  <%= @book.hotel.name %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
